<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
       sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
      <add key="AzureManagementSubscriptionID" value="" />
      <add key="AzureAuthenticationKey" value=""/>
      <add key="AzureURL" value="https://management.core.windows.net"/>
      <add key="GeoReplicationEnabled" value="true"/>
      <add key="NewStorageAccount" value="" />
      <add key="StorageAccountName" value=""/>
      <add key="ContainerName" value="" />
  </appSettings>
</configuration>